.Background__NotFound {
  width: 100%;
  min-height: calc(100vh - 60px);
  background: url("../../images/stars.svg"), #1b1b25;
  background-repeat: repeat;

  color: #ffffff;

  display: flex;
  align-items: center;
}

.Notfound__col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Notfound__col p {
  font-size: 1.2rem;
}
